# Created by https://www.gitignore.io/api/flask
# Edit at https://www.gitignore.io/?templates=flask

### Flask ###
instance/*
!instance/.gitignore
.webassets-cache

### Flask.Python Stack ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# End of https://www.gitignore.io/api/flask

## Intellij ###
.idea/

### macOS ###
.DS_Store

### Virtual environment ###
env/
.venv/

### Configuration files ###
.env
todo_app/trello_secrets.txt
todo_app/data/trello_secrets.txt
.vscode/launch.json
geckodriver.log
tests/vcr_cassettes/add_itemrecording.yaml
tests/vcr_cassettes/get_itemsrecording.yaml
tests/vcr_cassettes/get_listsrecording.yaml
tests/vcr_cassettes/remove_itemrecording.yaml
tests/vcr_cassettes/savve_itemrecording.yaml
tests/vcr_cassettes/add_item_recording.yaml
tests/vcr_cassettes/get_items_recording.yaml
tests/vcr_cassettes/get_lists_recording.yaml
tests/vcr_cassettes/remove_item_recording.yaml
tests/vcr_cassettes/savve_item_recording.yaml
vcr_cassettes/get_lists_recording.yaml
tests/vcr_cassettes/save_item_recording.yaml
cypress_todo/node_modules/
cypress_todo/cypress/integration/examples/actions.spec.js
cypress_todo/cypress/integration/examples/aliasing.spec.js
cypress_todo/cypress/integration/examples/assertions.spec.js
cypress_todo/cypress/integration/examples/connectors.spec.js
cypress_todo/cypress/integration/examples/cookies.spec.js
cypress_todo/cypress/integration/examples/cypress_api.spec.js
cypress_todo/cypress/integration/examples/files.spec.js
cypress_todo/cypress/integration/examples/local_storage.spec.js
cypress_todo/cypress/integration/examples/location.spec.js
cypress_todo/cypress/integration/examples/misc.spec.js
cypress_todo/cypress/integration/examples/navigation.spec.js
cypress_todo/cypress/integration/examples/network_requests.spec.js
cypress_todo/cypress/integration/examples/querying.spec.js
cypress_todo/cypress/integration/examples/spies_stubs_clocks.spec.js
cypress_todo/cypress/integration/examples/traversal.spec.js
cypress_todo/cypress/integration/examples/utilities.spec.js
cypress_todo/cypress/integration/examples/viewport.spec.js
cypress_todo/cypress/integration/examples/waiting.spec.js
cypress_todo/cypress/integration/examples/window.spec.js
cypress_todo/cypress/plugins/index.js
cypress_todo/cypress/support/commands.js
cypress_todo/cypress/support/index.js
cypress_todo/cypress/integration/sample_spec.js
cypress/integration/examples/actions.spec.js
cypress/integration/examples/aliasing.spec.js
cypress/integration/examples/assertions.spec.js
cypress/integration/examples/connectors.spec.js
cypress/integration/examples/cookies.spec.js
cypress/integration/examples/cypress_api.spec.js
cypress/integration/examples/files.spec.js
cypress/integration/examples/local_storage.spec.js
cypress/integration/examples/location.spec.js
cypress/integration/examples/misc.spec.js
cypress/integration/examples/navigation.spec.js
cypress/integration/examples/network_requests.spec.js
cypress/integration/examples/querying.spec.js
cypress/integration/examples/spies_stubs_clocks.spec.js
cypress/integration/examples/traversal.spec.js
cypress/integration/examples/utilities.spec.js
cypress/integration/examples/viewport.spec.js
cypress/integration/examples/waiting.spec.js
cypress/integration/examples/window.spec.js
cypress/plugins/index.js
cypress/support/commands.js
cypress/support/index.js
cypress.json
cypress/fixtures/example.json
cypress_todo/cypress.json
cypress_todo/debug.log
cypress_todo/package-lock.json
cypress_todo/package.json
cypress_todo/cypress/fixtures/example.json
geckodriver.exe
